<div class="well cart">
    <h4>購物車</h4>
    <ul class="itemsInCart ">
      <li *ngFor="let shoppingItem of (shoppingService.shoppingItems)">
        <div class="cart-item">
          <div class="cart-title">{{shoppingItem.originalItem.name}}</div>
          <span class="price">$ {{shoppingItem.originalItem.price}}</span> x
          <span class="count">{{shoppingItem.count}}</span>
          <div class="handler">
            <a [routerLink]="['/page', apiService.currentPage + 1]" class="cart-btn plus" (click)="shoppingService.addToCart(shoppingItem.originalItem)">+</a
            ><a [routerLink]="['/page', apiService.currentPage + 1]" class="cart-btn minus" (click)="shoppingService.removeFromCart(shoppingItem.originalItem.id)">-</a>
          </div>
        </div>
      </li>
    </ul>
    <hr />
    <p>小計： <span>$ {{shoppingService.total}}</span></p>
  </div>