<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h1 class="page-header"><small>{{apiService.title}}</small></h1>
      <div class="item" *ngFor="let item of apiService.data">
        <h2>{{item.type}}: {{item.name}}</h2>
        <img
          [src]="item.picture"
          alt=""
          class="item-img img-responsive"
        />
        <p>
          {{item.info}}
        </p>
        <p class="item-price">$ {{item.price}}</p>
        <a [routerLink]="['/page', apiService.currentPage + 1]" class="btn btn-primary" (click)="shoppingService.addToCart(item)" >放入購物車 <span class="glyphicon glyphicon-chevron-right"></span
        ></a>
      </div>

      <hr />
      <router-outlet></router-outlet>

    </div>
    <div class="col-md-4 ">
      <div class="well ">
        <h4>商品搜尋</h4>
        <div class="input-group ">
          <input type="text" [(ngModel)]="apiService.searchStr" (keyup.enter)="apiService.currentPage = 0; apiService.query()" class="form-control" />
          <span class="input-group-btn">
            <button class="btn btn-default" (click)="apiService.currentPage = 0; apiService.query()">
              <span class="glyphicon glyphicon-search "></span>
            </button>
          </span>
        </div>
      </div>
      <hr />
      <app-shopping-cart></app-shopping-cart>
    </div>
  </div>
</div>


